* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
    padding: 0 ;
    margin: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    
    padding: 10px;
    box-shadow: 0 0 10px 2px;

}





#choice-container {
    background-color:purple;
    display: flex;
    width: 100px;
    display: grid;
    gap: 10px;
    margin: 20px 0;

}

#choice-container:hover {
    border-color: black;
}

.choice-text {
    width: 100%;
}



